.wrapper {
    --search-border-radius: 92px;
    --search-height: 48px;
    --search-top-spacer: 9px;
    --search-btn-width: 52px;

    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--default-layout-header-height);
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-layout-horizontal-spacer);
}

.logo-link {
    cursor: pointer;
    display: flex;
}

.logo-img {
    width: 100px;
    height: 80px;
}

// Actions
.actions {
    display: flex;
    align-items: center;
}

.user-avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin: 12px;
    cursor: pointer;
}

.more-btn {
    font-size: 2rem;
    margin-left: 30px;
    background-color: transparent;
    padding: 4px 8px;
    cursor: pointer;
}

.action-btn {
    cursor: pointer;
    color: rgb(22, 24, 35);
    padding: 0 12px;
    font-size: 2.4rem;
    background-color: transparent;
    line-height: 24px;
}

.cart-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    border: 1px solid var(--white);
}

.cart-icon {
    width: 20px;
    height: 20px;
    color: white;
    margin: auto;
}

.non-user-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 12px;
    cursor: pointer;
    display: flex;
    border: 1px solid var(--white);
}

.non-user-icon {
    width: 20px;
    height: 20px;
    color: white;
    margin: auto;
}
